<% provide(:title, 'Home') %>
<div class="row">
  <h1>Welcome to the Gallery App</h1>

  <div class="span12">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#newArtTab" data-toggle="tab">New Artifacts</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="newArtTab">
          <ul class="thumbnails">
            <%= render @new_artifacts %>
          </ul>
        </div>
      </div>
    </div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#popArt" data-toggle="tab">Popular Artifacts</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="popArt">
          <ul class="thumbnails">
            <%= render @popular_artifacts %>
          </ul>
        </div>
      </div>
    </div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#latestBidArt" data-toggle="tab">Latest Bid Artifacts</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="latestBidArt">
          <ul class="thumbnails">
            <%= render @latest_bid_artifacts %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>